block aboutme

  P I am a fifth year Ph.D. student in the Computer Science Department of University of Virginia (UVA), working on Computer Architecture. My primary advisor is prof #[a(href='https://www.cs.virginia.edu/~skadron/') Kevin Skadron], and I'm also co-advised by prof. #[a(href='https://www.cs.virginia.edu/venkat/') Ashish Venkat]. My expected graduation date is May 2023.
  P My research interests lie broadly in Computer Architecture, memory and data storage systems, and domain-specific accelerator designs leveraging near-data-processing (NDP) technologies including processing-in-memory (PIM), processing-using-memory (PuM), in-storage-processing (ISP), etc. My research explores novel hardware and software techniques to design high-performance machines while maintaining energy efficiency for emerging big-data workloads such as bioinformatics, database, and machine learnings. I’m also interested in investigating security threats in such novel architectures.

  P Recent highlights include:
  ul
    li
      p #[strong Hardware Security:] Conducting a HW Trojan-assisted power side-channel weight stealing (model extracion) attack against eNVM-based neuromorphic systems: #[a(href='/~lw2ef/files/DATE_PIM_NN_Security.pdf') paper], #[a(href='/~lw2ef/files/ISCA_Sieve_slides,pdf') slides], #[a(href='') talk]
    li
      p #[strong NDP-based Bioinformatics Accelerators:] k-mer matching: #[a(href='/~lw2ef/files/2021Sieve.pdf') paper], #[a(href='/~lw2ef/files/ISCA_Sieve_slides.pdf') slides]. De Bruijn Graph Processing: #[a(href='/~lw2ef/files/DBG.pdf') paper], #[a(href='/~lw2ef/files/PACT_DBG_slides.pdf') slides].
    li
      p #[strong Pattern Matching Acceleration:] DRAM-CAM: #[a(href='/~lw2ef/files/DRAM_CAM.pdf') paper], #[a(href='/~lw2ef/files/DRAM_CAM_slides.pdf') slides]
     

