block aboutme

  P I am a fifth year Ph.D. student in the Computer Science Department of University of Virginia (UVA), working on Computer Architecture. My expected graduation date is May 2023.
  P My research interests lie broadly in Computer Architecture, memory and data storage systems, and near-data-processing (NDP) including processing-in-memory (PIM), processing-using-memory (PuM), in-storage-processing (ISP), etc. My research explores novel hardware and software techniques to design high-performance machines while maintaining energy efficiency for emerging big-data workloads such as bioinformatics, database, and machine learnings. I’m also interested in investigating security threats in such novel architectures.

