block newsInfo
  // News info container
  -
    var news = [
      {
        title: 'I\'m actively looking for full-time research and development positions in industry starting from May/Summer 2023.',
        date: 'Jan 2023'
      },
      {
        title: 'Our paper on hardware Trojan threats in eNVM devices has been accepted to DATE 2023, and has been nominated for Best Paper Award!',
        date: 'Dec 2022'
      },
      {
        title: 'I gave a talk in Student Deep Dive session for Center for Research on Intelligent Storage and Processing in Memory (CRISP) about our project DRAM-CAM.',
        date: 'Oct 2022'
      },
      {
        title: 'Our paper on DRAM-CAM, an architecture for general-purpose bit-serial exact pattern matching, has been accepted to IEEE Computer Architecture Letters.',
        date: 'Aug 2022'
      },
      {
        title: 'I gave a talk on de novo genome assembly acceleration using 3D-stacked memory techniques at the 31st International Conference on Parallel Architectures and Compilation techniques (PACT).',
        date: 'Oct 2021'
      },
      {
        title: 'Our paper, titled "Ultra Efficient Acceleration for De Novo Genome Assembly via Near-Memory Computing" has been accepted by PACT 21.',
        date: 'Aug 2021'
      },
      {
        title: 'I presented our work, "Sieve: Scalable In-situ DRAM-based Accelerator Designs for Massively Parallel k-mer Matching" in International Symposium on Computer Architecture (ISCA). (June 2021)',
        date: 'June 2021'
      },
      {
        title: 'Our paper, "Sieve: Scalable In-situ DRAM-based Accelerator Designs for Massively Parallel k-mer Matching" has been accepted in International Symposium on Computer Architecture (ISCA). (June 14 – June 19, 2021)',
        date: 'Mar 2021'
      },

    ];
