block papersInfo
  // Papers info container
  -
    var papers = [
      {
        venue: 'DATE',
        info: 'Lingxi Wu, Rahul Sreekumar (Joint 1st author), Rasool Sharifi, Mircea Stan, Kevin Skadron, Ashish Venkat\"Hardware Trojans in eNVM Neuromorphic Devices," in Proceedings of the 26th Design, Automation and Test in Europe Conference (DATE), April, 2023.',
        link: '/' + baseURL + '/files/DATE_PIM_NN_Security.pdf'
      },
      {
        venue: 'CAL',
        info: 'Lingxi Wu, Rasool Sharifi, Ashish Venkat, Kevin Skadron \"DRAM-CAM: General-Purpose Bit-Serial Exact Pattern Matching," in IEEE Computer Architecture Letters (CAL), vol. 21, no. 2, pp. 89-92, Aug, 2022.',
        link: '/' + baseURL + '/files/DRAM_CAM.pdf'
      },
      {
        venue: 'PACT',
        info: 'Minxuan Zhou, Lingxi Wu (Joint 1st author), Muzhou Li, Niema Moshiri, Kevin Skadron, Tajana Rosing\"Ultra Efficient Acceleration for De Novo Genome Assembly via Near-Memory Computing," in Proceedings of the 31st International Conference on Parallel Architectures and Compilation techniques (PACT), Aug, 2021.',
        link: '/' + baseURL + '/files/DBG.pdf'
      },
      {
        venue: 'ISCA',
        info: 'Lingxi Wu, Rasool Sharifi, Marzieh Lenjani, Kevin Sakdron, Ashish Venkat\"Sieve: Scalable In-situ DRAM-based Accelerator Designs for Massively Parallel k-mer Matching," in Proceedings of the 48th ACM/IEEE International Symposium on Computer Architecture (ISCA), June, 2021.',
        link: '/' + baseURL + '/files/2021Sieve.pdf'
      },
      {
        venue: 'IISWC',
        info: 'Jack Wadden, Tommy Tracy II, Elaheh Sadredini, Lingxi Wu, Chunkun Bo, Jesse Du, Yizhou Wei, Jeffrey Udall, Matthew Wallace, Mircea Stan, Kevin Skadron\"AutomataZoo: A modern automata processing benchmark suite," in Proceedings of the 2018 IEEE International Symposium on Workload Characterization (IISWC), Seq, 2018.',
        link: '/' + baseURL + '/files/automataZoo.pdf'
      }
    ];
